@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
:root {
  --quaternary-color: #08142d;
  --quinary-color: #0074d5;
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --bg-color: #141218;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  --text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-weight: 300;
  overflow: hidden;
  margin: 0;
  background: rgb(109, 154, 237);
}

h3 {
  color: #fff;
  margin: 0.7rem 0 1.4rem;
  font-weight: 300;
  text-align: center;
  text-shadow: var(--text-shadow);
}
.container {
  width: 500px;
}

.textarea {
  background-color: var(--quaternary-color);
  color: var(--text-color);
  border: none;
  display: block;
  width: 100%;
  height: 6.25rem;
  font-family: inherit;
  padding: 0.7rem;
  margin: 0 0 1.4rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 0.3rem;
  outline: none;
  box-shadow: var(--box-shadow);
}
textarea:focus {
  outline: none;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 3.1rem;
  padding: 0.7rem 1.4rem;
  margin: 0 0.4rem 0.7rem 0;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
}
.tag.highlight {
  background-color: #273c75;
}
